<div class="tp-pessoa">
    <label>Tipo de pessoa</label>
    <div class="campos"></div>
    <select>
        <option value="valor1" selected>Pessoa Júridica</option>
        <option value="valor2" >Pessoa Física</option>
    </select>
</div>

<div class="insMun">
    <label>Ins. Municipal</label>
    <input name="insMun" type="text">
</div>
</div>
<br>
<br>
<div class="campos">
<div class="cep">
    <label>CEP</label>
    <input type="text">
</div>
<div class="cidade">
    <label>Cidade</label>
    <input type="text">
</div>
<div class="num">
    <label>Número</label>
    <input type="text">
</div>
<div class="comp">
    <label>Complemento</label>
    <input type="text">
</div>
<br>
<br>

<div class="dados-box">
    <div class="campos">
        <div class="cnpj">
            <label>CNPJ</label>
            <input name="cnpj" type="text">
        </div>
        <div class="rSocial">
            <label>Razão Social</label>
            <input name="rSoc" type="text">
        </div>
        <div class="insEst">
            <label>Ins. Estadual</label>
            <input name="insEst" type="text">
        </div>
    </div>
    <br>
    <br>
    <div class="campos">
        <div class="uf">
            <label>UF</label>
            <select>
                <option value="valor1" selected>PE</option>
                <option value="valor2" >SP</option>
            </select>
        </div>
        <div class="bairro">
            <label>Bairro</label>
            <input type="text">
        </div>
        <div class="ender">
            <label>Endereço</label>
            <input type="text">
        </div>
    </div>
    
</div>