<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/registro.css">
    <title>Registrar</title>
</head>
<body>
    <div class="content">
        <form class="form" id="registro" method="POST"> {% csrf_token %}
            <div class="register-box">
                <div class="dados-box">
                    <div class="campos">

                        
                        <div  class="nFantasia">
                            <label>Nome</label>
                            <input name="usuario" type="text">
                        </div>
                        
                        <div class="email">
                            <label>Email</label>
                            <input name="email" type="text">
                        </div>
                        <div class="senha">
                            <label>Senha</label>
                            <input name="password" type="password">
                        </div>
                        <div class="conf-senha">
                            <label>Confirmar Senha</label>
                            <input type="password">
                        </div>
                    </div>
                    
                </div> 
                
    
            </div>
            <div class="register-desc">
                <div class="title-main">
                    <a href="{}"><img src="/static/img/svg/arrow.svg" alt=""></a>
                </div>
                <div class="desc-img">
                    <img src="/static/img/svg/personal-password-lock-svgrepo-com.svg" alt="personal password">
                </div>
                <div class="register-button">
                    <a href="javascript:{}" id="submit" onClick="document.getElementById('registro').submit();">registrar</a>
                </div>
               
            </div>
        </form>
    </div>



    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>