<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div class="ide">
            <label></label>
            <input id="cUF"></input>

            <label></label>
            <input id="cNF"></input>

            <label></label>
            <input id="natOp"></input>

            <label></label>
            <input id="indPag"></input>

            <label></label>
            <input id="mod"></input>

            <label></label>
            <input id="serie"></input>

            <label></label>
            <input id="nNF"></input>

            <label></label>
            <input id="dhSaiEnt"></input>

            <label></label>
            <input id="tpNF"></input>


        </div>
        
    </form>
</body>
</html>